.jumbotron {
    height:300px;
    color: rgb(134, 154, 189);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 200%;
    font-family: 'Syne Mono';
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 2px solid rgb(134, 154, 189)
}

td, th{ 
    padding: 10px;
}

.sortClick{
    cursor: pointer;
}

#none {
    color:rgb(190, 94, 238);
    margin-bottom: 20px;
    margin-top: 0;
    display: none;
}

input {
    margin-bottom: 5px;
}

.btns {
    display: inline-flex;
    margin-bottom: 10px;
    gap:12px;
}